*{
    margin: 0;
    font-family: 'Open Sans' , sans-serif;
}
a{
    text-decoration: none;
}
.text-primary{
    color: #FD6E0A;
 
 }
 .btn-primary{
    height: 64px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding:0 36px;
 }

 .header{
    background: #FFF8F3;
    background-image: url('../images/bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
 }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
    /* padding:50px 100px; */
}

.nav-title{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 45px;
line-height: 61px;

/* Dark 01 */

color: #181818;

}

nav ul{
    display: flex;
    align-items: center;

}

nav ul li{
    list-style: none;
    margin-left: 50px;
}

/* banner style  */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    /* padding: 0 100px; */
}

.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
    margin-bottom: 5px;
    
}

 .banner-title{
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-description{
    font-weight: 400;
font-size: 18px;
line-height: 30px;
margin-bottom: 30px;
color: #757575;
}

/* main  */
main{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    margin-top: 130px;
}

/* about section  */
.about-section{
    background: #FFF8F3;
border-radius: 10px;
/* margin-top:130px; */
padding: 130px 150px;
text-align: center;
}

.section-title{
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
    margin-bottom: 50px;
    
}


.section-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #757575;
}

.about-info-container{
display: flex;
justify-content: space-around;
}


.about-info .info-title{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #757575;
}

.about-info .info-description{
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #474747;

}

/* What I do  */

.what-i-do-section{
    margin-top: 130px;
  

}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 30px;
}

.skill-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #757575;
/* text-align: justify; */
}


/* Resume Style  */

.resume-content{
    display: flex;
    gap:24px;
}
.resume-item .title{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
    margin-bottom: 10px;
}

.resume-item .sub-title{
    font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #757575;

}


.resume-item .description{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575; 
    margin-top: 20px;
    /* margin-bottom: 30px; */
}


.resume-item {
    margin :30px 0;
}

.resume-section .button-holder{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 113px;
  
}


/* contact  */
.contact{
    display: flex;
    gap:100px;
    background: #FFF8F3;
    padding: 130px 200px;

}
.contact .section-title{
    text-align: left;
}

.contact input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: none;
    width: 100%;
    background: #FFFFFF;
    padding: 18px 30px;
}

input{
    
    height:64px;
    
}
.social-icon{
    margin-top: 30px;
}
/* footer  */

